* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* left navbar */
.navbar--brand {
  background-image: url("./assets/logo.png");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: left 50%;
}

/* right navbar */
.theme-switch {
  height: 20px;
  height: 20px;
}

/* header nav flex container */

header {
  padding: 25px 0 50px 0;
}

header nav {
  display: flex;
  justify-content: space-around;
}

nav ul {
  display: flex;
}

/* Place the search icon inside input */
.search-container {
  position: relative;
  display: flex;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  /* Prevent the icon from interfering with input interactions */
  pointer-events: none;
}

.search {
  padding-left: 30px;
}
