* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

svg {
  height: 24px;
  width: 24px;
}

img {
  display: block;
  height: 60px;
  width: 200px;
}

.hamburger {
  height: 18px;
  width: 24px;
}

/* header */
header {
  position: relative;
}

nav {
	display: flex;
	justify-content: space-between;
}

header a {
  color: #ffffff;
}

.career ul {
  display: flex;
}

.video-js {
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
